/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: Montserrat;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

/* ШРИФТЫ */

.text-12 {
    font-size: 1.2rem;
    line-height: 1.9rem;
}

.text-09-500 {
    font-weight: 500;
    font-size: 0.9rem;
}

.text-13 {
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.text-15-600 {
    font-size: 1.5rem;
    font-weight: 600;
}

.text-gray {
    color: #B3B3B3;
}

.text-500-blue {
    color: #5286EC;
    font-weight: 500;
    cursor: pointer;
}

.header-14-500 {
    font-size: 1.4rem;
    font-weight: 500;
}

.header-12-500 {
    font-size: 1.2rem;
    font-weight: 500;
}

/* отступы */
.mb06 {
    margin-bottom: 0.6rem;
}

.mb1 {
    margin-bottom: 1rem;
}

.mb15 {
    margin-bottom: 1.5rem;
}

.mb2 {
    margin-bottom: 2rem;
}

.mb3 {
    margin-bottom: 3rem;
}

.mb45 {
    margin-bottom: 4.5rem;
}

.mt1 {
    margin-top: 1rem;
}

.mt25 {
    margin-top: 2.5rem;
}

/* < !-- главная страница --> */
body {
    width: 100%;
    max-width: 1920px;
    color: #37373F;
    text-align: center;
}

.mainPage {
    display: inline-block;
    width: 83rem;
    text-align: left;
}

/* < !-- логотип и телефон --> */

.mainPageheader {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 7rem;
    height: 1.3rem;
}

.phone {
    margin-left: 2.3rem;
    color: #B3B3B3;
    font-size: 1.1rem;
}

.numberPhone {
    margin-left: 0.2rem;
    font-size: 1.1rem;
    color: #37373F;
}

/* <!-- фото вертолета --> */

.mainHelicoptersPictures {
    background-image: url(./images/helimain.png);
    background-size: cover;
    color: #FFF;
}

.headerBooking {
    width: 55.5rem;
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 700;
}

.text-accent {
    color: #FC9B09;
}

.textInsideSticker {
    width: 16rem;
    height: 7rem;
    margin-left: -0.3rem;
    background-image: url(./images/bubble.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.wordPrice {
    font-size: 1.4rem;
    margin-left: 1.4rem;
}

.cost {
    font-size: 2.3rem;
    font-weight: 800;
    margin-left: 1.4rem;
}

.percent {
    margin-left: 1.3rem;
    display: flex;
    align-items: center;
}

.circle {
    font-size: 2.2rem;
    font-weight: 800;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.5rem;
}

.buttonBooking {
    width: 19rem;
    height: 4.25rem;
    border-radius: 0.2rem;
    border: 0.2rem solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25), 0px 4px 70px 0px rgba(255, 255, 255, 0.70);
    background: transparent;
}

.textButton {
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 800;
}

/* leadBlock */

.leadBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leadBlockRow_1 {
    width: 35rem;
}

.headerLeadBlock {
    font-size: 2.8rem;
    line-height: 2.8rem;
    font-weight: 500;
}

.iconCircle,
.iconCamera,
.iconMap,
.iconSpeechBubble {
    display: flex;
    align-items: center;
}

.iconCircle::before,
.iconCamera::before,
.iconMap::before,
.iconSpeechBubble::before,
.iconCup::before {
    margin-right: 0.5rem;
}

.iconCircle::before {
    content: url(./images/icons/circle.png);
}

.iconCamera::before {
    content: url(./images/icons/camera.png);
}

.iconMap::before {
    content: url(./images/icons/map.png);
}

.iconSpeechBubble::before {
    content: url(./images/icons/speechBubble.png);
}

.iconCups {
    display: flex;
    align-items: center;
}

.iconCup::before {
    content: url(./images/icons/cup.png);
}

.iconCup::after {
    content: url(./images/icons/stars.png);
    margin-left: 0.9rem;
}

.line {
    border: 1px solid #B3B3B3;
}

.text-13 span {
    font-weight: 600;
}

.leadBlockRow_2 {
    width: 37rem;
    height: 26rem;
    border-radius: 0.25rem;
    background-image: url(./images/photoKiss.jpg);
    background-size: cover;
    position: relative;
}

.vector {
    position: absolute;
    bottom: 10%;
    right: 10%;
}

/* галерея фотографий */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.girl,
.runway,
.photoKiss,
.helicopterAndGirl {
    width: 20rem;
    height: 13.5rem;
    background-size: cover;
    border-radius: 0.25rem;
}

.textShowPhoto {
    text-align: center;
}

.arrow_2::before {
    content: url(./images/icons/Arrow.svg);
    margin-right: 0.5rem;
}

.arrow_2::after {
    content: url(./images/icons/Arrow.svg);
    margin-left: 0.5rem;
}

/* <!-- блок об авторе --> */

.infrormationAboutPhotographer {
    display: flex;
    flex-direction: row;
}

.textAboutPhotogpapher {
    width: 45rem;
}

.textAboutPhotogpapher .textShowPhoto {
    text-align: start;
}

.arrow_1::after {
    content: url(./images/icons/Arrow.svg);
    margin-left: 0.5rem;
}

.photoPhotographer {
    width: 18rem;
    margin-left: 12rem;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.photoContainer {
    width: 10rem;
    height: 10rem;
    background-image: url(./images/photoPhotographer.png);
    background-size: cover;
    display: inline-block;
}

.heart {
    margin-left: 1.5rem;
}

/* <!-- Доступная съемка в ближайшее время: --> */

.availableSlots .header-14-500 {
    line-height: 2rem;
}

.availableSlotsHeader {
    margin-left: 3rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.availableSlotsHeader::after {
    content: url(./images/icons/calendar.png);
    margin-left: 1rem;
}

.textInsideAvailableSlots {
    border: 2px solid #B3B3B3;
    width: 55rem;
}

.line_2 {
    border: 0.5px solid #B3B3B3;
    width: 35rem;
}

.availableTimes {
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
}

.buttonAvailableTimes {
    margin-left: 27rem;
    color: #FC9B09;
    font-size: 1.1rem;
    font-weight: 500;
    width: 9rem;
    height: 3.5rem;
    border-radius: 0.3rem;
    border: 2px solid #FC9B09;
    background: #FFF;
}

.availableSlots .iconCup {
    margin-left: 2rem;
}

/* <!-- карта --> */
.map {
    height: 32rem;
    background-image: url(./images/bigMap.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
}

.textInsideMap {
    width: 26rem;
    height: 29rem;
    border: 1px solid #B3B3B3;
    background: #FFF;
}

.text1 {
    display: flex;
    flex-direction: row;
}

.number {
    width: 3.8rem;
    height: 3.8rem;
    background-color: #FC9B09;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.number p {
    color: white;
    font-size: 3rem;
    font-weight: 700;
}

.cont {
    width: 3.8rem;
    height: 3.8rem;
    background-image: url(./images/photoPhotographer.png);
    background-size: cover;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* <!-- отзывы --> */

.comments {
    width: 49rem;
}

.comment {
    display: flex;
    flex-direction: row;
}

.photocontainer_1,
.photocontainer_2,
.photocontainer_3 {
    height: 6.5rem;
    width: 6.5rem;
    background-size: cover;
    margin-right: 1rem;
}

.photocontainer_1 {
    background-image: url(./images/comment_1.png);
}

.photocontainer_2 {
    background-image: url(./images/commant_2.png);
}

.photocontainer_3 {
    background-image: url(./images/comment_3.png);
}

.commentRow_2 {
    width: 38rem;
}

.stars {
    margin-right: 2.5rem;
}

.comments .textShowPhoto {
    text-align: end;
}

/* <!-- футер --> */

.footerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language {
    color: #5286EC;
}

.language::before {
    content: url(./images/icons/Social.png);
    margin-right: 0.5rem;
    vertical-align: middle;
}

.language::after {
    content: url(./images/icons/Arrow.svg);
    margin-left: 0.5rem;
}

.footerBottom {
    width: 49rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footerBottom .text-gray {
    line-height: 1.7rem;
}