/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: Montserrat;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

/* ШРИФТЫ */

.t-09-400 {
    font-size: 0.9rem;
    line-height: 1.2rem;
}

.t-09-500 {
    font-weight: 500;
    font-size: 0.9rem;
}

.t-09-600 {
    font-weight: 600;
    font-size: 0.9rem;
}

.t-10-500 {
    font-weight: 500;
}

.t-10-600 {
    font-weight: 600;
}

.t-12-400 {
    font-size: 1.2rem;
    line-height: 1.9rem;
}

.t-12-500 {
    font-size: 1.2rem;
    font-weight: 500;
}

.t-13-400 {
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.t-13-500 {
    font-size: 1.3rem;
    font-weight: 500;
}

.t-13-600 {
    font-size: 1.3rem;
    font-weight: 600;
}

.t-14-500 {
    font-size: 1.4rem;
    font-weight: 500;
}

.t-15-600 {
    font-size: 1.5rem;
    font-weight: 600;
}

.t-18-400 {
    font-size: 1.8rem;
}

.t-gray {
    color: #B3B3B3;
}

.t-08-400 {
    font-size: 0.8rem;
}

.t-10-500-blue {
    color: #5286EC;
    font-weight: 500;
    cursor: pointer;
}


/* отступы */
.mb06 {
    margin-bottom: 0.6rem;
}

.mb1 {
    margin-bottom: 1rem;
}

.mb15 {
    margin-bottom: 1.5rem;
}

.mb2 {
    margin-bottom: 2rem;
}

.mb3 {
    margin-bottom: 3rem;
}

.mb45 {
    margin-bottom: 4.5rem;
}

.mb10 {
    margin-bottom: 10rem;
}

.mt1 {
    margin-top: 1rem;
}

.mt25 {
    margin-top: 2.5rem;
}

/* выравнивание */
.tac {
    text-align: center;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}



/* FLEX */

.flexRow {
    display: flex;
    flex-direction: row;
}

.flex {
    display: flex;
}

.jcsb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}

.jcc {
    justify-content: center;
}

/*позиция  */


/* BACKGROUND */

.yellow {
    background-color: #FC9B09;
}

/* видимость блоков */
.dn {
    display: none;
}

/* расположение крупных блоков */
.bl {
    width: 80%;
    display: inline-block;
    text-align: left;
}

/* < !-- главная страница --> */
body {
    max-width: 1920px;
    text-align: center;
}

.mainPage {
    color: #37373F;
}



.logotype {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.forSmallScreen .t-08-400 {
    color: #5286EC;
}

.logo {
    max-width: 7rem;
    max-height: 1.3rem;
    display: inline-block;
}

.phone {
    margin-left: 2.3rem;
    color: #B3B3B3;
    font-size: 1.1rem;
}

.numberPhone {
    margin-left: 0.2rem;
    font-size: 1.1rem;
    color: #37373F;
    display: inline-block;
}


/* <!-- фото вертолета --> */

.mainHelicoptersPictures {
    background-image: url(./images/helimain.png);
    background-size: cover;
    padding-bottom: 17rem;
    color: #FFF;
}

.headerBooking {
    margin-top: 17rem;
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 700;
}

.text-accent {
    color: #FC9B09;
}

.textInsideSticker {
    width: 16rem;
    height: 7rem;
    margin-left: -0.3rem;
    background-image: url(./images/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.wordPrice {
    font-size: 1.4rem;
    margin-left: 1.4rem;
}

.cost {
    font-size: 2.3rem;
    font-weight: 800;
    margin-left: 1.4rem;
}

.percent {
    margin-left: 1.3rem;
}

.circle {
    font-size: 2.2rem;
    font-weight: 800;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.5rem;
}

.buttonBooking {
    width: 19rem;
    height: 4.25rem;
    border-radius: 0.2rem;
    border: 0.2rem solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25), 0px 4px 70px 0px rgba(255, 255, 255, 0.70);
    background: transparent;
}

.textButton {
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 800;
}

/* leadBlock */

.leadBlockRow_1 {
    width: 47%;
    padding-right: 2rem;
}

.headerLeadBlock {
    font-size: 2.8rem;
    line-height: 2.8rem;
    font-weight: 500;
}

.iconCircle,
.iconCamera,
.iconMap,
.iconSpeechBubble,
.icon3Hours,
.iconMoney,
.iconCups {
    display: flex;
    align-items: center;
}

.iconCircle::before,
.iconCamera::before,
.iconMap::before,
.iconSpeechBubble::before,
.iconCup::before {
    margin-right: 0.5rem;
}

.iconCircle::before {
    content: url(./images/icons/circle.png);
}

.iconCamera::before {
    content: url(./images/icons/camera.png);
}

.iconMap::before {
    content: url(./images/icons/map.png);
}

.iconSpeechBubble::before {
    content: url(./images/icons/speechBubble.png);
}

.iconMoney::before {
    content: url(./images/icons/money.png);
    margin-right: 0.5rem;
}

.icon3Hours::before {
    content: url(./images/icons/3hours.png);
    border: 3px solid #727275;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25), 0px 4px 70px 0px rgba(255, 255, 255, 0.70);
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
    margin-right: 0.5rem;
}

.iconCup::before {
    content: url(./images/icons/cup.png);
}

.iconCup::after {
    content: url(./images/icons/stars.png);
    margin-left: 0.9rem;
}

.mr1 {
    margin-right: 1rem;
}

.line {
    border: 1px solid #B3B3B3;
}

.t-13-500 span {
    font-weight: 600;
}

.leadBlockRow_2 {
    width: 47%;
    height: 23vw;
    position: relative;
}

.bigPhotoKiss {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.video {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    position: absolute;
    z-index: 0;
    object-fit: cover;
}

.vector {
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: 2;
}

/* галерея фотографий */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.galleryContainer {
    width: 23rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 0.25rem;
    background-color: aquamarine;
}

/* .arrow_2::before {
    content: url(./images/icons/Arrow.svg);
    margin-right: 0.5rem;
}

.arrow_2::after {
    content: url(./images/icons/Arrow.svg);
    margin-left: 0.5rem;
} */

.showAllPhoto {
    display: inline-block;
}

.arrowContainer {
    width: 0.8rem;
    height: 0.8rem;
    object-fit: contain;
    vertical-align: bottom;
}


/* <!-- блок об авторе --> */

.informationAboutPhotographer {
    width: 120%;
}

.textAboutPhotographer {
    width: 110%;
}

.showAll {
    display: inline-block;
}

/* .arrowContainer {
    width: 0.8rem;
    height: 0.8rem;
    object-fit: contain;
    vertical-align: bottom;
} */

/* .arrow_1::after {
    content: url(./images/icons/Arrow.svg);
    margin-left: 0.5rem;
} */

.photoPhotographer {
    /* width: 100rem; */
    width: 90%;
    text-align: center;
}

.photoContainer {
    max-width: 12rem;
    max-height: 12rem;
    object-fit: cover;
    margin-right: 1rem;
}

.heart {
    max-width: 3.5rem;
    max-height: 1.8rem;
    object-fit: cover;
}

/* <!-- Доступная съемка в ближайшее время: --> */

.availableSlots .t-14-500 {
    line-height: 2rem;
}

.textInsideAvailableSlots {
    border: 2px solid #B3B3B3;
    width: 60%;
    padding: 1.5rem 2rem 1.5rem 3rem;
}

.availableSlotsHeader {
    font-size: 1.5rem;
}

.availableSlotsHeader::after {
    content: url(./images/icons/calendar.png);
}

.line_2 {
    border: 0.5px solid #B3B3B3;
    width: 60%;
}

.buttonAvailableTimes {
    color: #FC9B09;
    font-size: 1.1rem;
    font-weight: 500;
    width: 9rem;
    height: 3.5rem;
    border-radius: 0.3rem;
    border: 2px solid #FC9B09;
    background: #FFF;
}


/* <!-- карта --> */
.pr {
    position: relative;
    height: 32rem;
    width: 100%;
}

.mapContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.map {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bl .textInsideMap {
    max-width: 22rem;
    height: 28rem;
    border: 1px solid #B3B3B3;
    background: #FFF;
    padding: 2rem 0rem 1rem 1rem;
    position: absolute;
    z-index: 100;
}

.whereDoWeMeet {
    border: 1px solid #B3B3B3;
    padding: 3rem 3rem 3rem 2rem;
    max-width: 25rem;
}

.arrowCont {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;
}

.number {
    min-width: 3.8rem;
    height: 3.8rem;
    background-color: #FC9B09;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.number p {
    color: white;
    font-size: 3rem;
    font-weight: 700;
}

.cont {
    margin-right: 1rem;
    max-width: 4rem;
    max-height: 4rem;
    object-fit: cover;
}

.round {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    border: 1px solid #37373F;
    margin-right: 0.5rem;
}

/* <!-- отзывы --> */

.comments {
    width: 60%;
    z-index: 100;
}

.photocontainer_1 {
    max-height: 6.5rem;
    max-width: 6.5rem;
    margin-right: 2rem;
    object-fit: cover;
}

.commentRow_2 {
    width: 82%;
}

.stars {
    margin-right: 2.5rem;
}

.photocontainer_11 {
    max-width: 4rem;
    max-height: 4rem;
    object-fit: cover;
}

.ml1 {
    margin-left: 1rem;
}

/* footer */
.socialContainer {
    width: 10rem;
    height: 1.3rem;
    object-fit: contain;
}

.footerBottom {
    background-color: #FAF9F8;
}

.container {
    width: 60%;
}

.footerBottom .t-gray {
    line-height: 1.7rem;
}

/*  модальное окно*/
.modalWindow {
    width: 42%;
    border-radius: 0.375rem;
    background: #FFF;
    border: 1px solid #C7C7C7;
    display: inline-block;
}

.contentModalWindow {
    width: 85%;
    display: inline-block;
}

.contentModalWindow span {
    color: #C94042;
}

.border {
    border-radius: 0.2rem;
    border: 1px solid #C7C7C7;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    width: 100%;
}

.container_60_percent {
    width: 60%;
}

.container_40_percent {
    width: 40%;
}

.container_60_percent .border {
    border-top-style: none;
    border-right-style: none;
}

.container_40_percent .border {
    border-top-style: none;
}

.changeColor input {
    /* <--скрываем дефолтный чекбокс */
    display: none;
}

.changeColor span {
    /* <-- стилизируем новый */
    height: 1rem;
    width: 1rem;
    border: 1px solid #C7C7C7;
    display: inline-block;
    position: relative;
    background-color: #FFF;
    border-radius: 2px;
    margin-right: 1rem;
}

[type=checkbox]:checked+span:before {
    /* <-- ставим иконку, когда чекбокс включен  */
    content: '\2714';
    position: absolute;
    font-size: 1rem;
    color: #FFF;
    background-color: #FC9B09;
}

.button_2 {
    width: 75%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0.2rem;
    background: #FC9B09;
    color: #FFF
}

/* !медиазапросы */
@media(max-width:1920) {
    body {
        max-width: 1280;
    }
}

@media (max-width: 1295px) {
    body {
        max-width: 1024;
    }
}

@media (max-width: 1024px) {
    body {
        max-width: 768;
    }
}

@media (max-width: 768px) {
    body {
        max-width: 600;
    }
}

@media (max-width: 610px) {
    body {
        max-width: 480;
    }

    html,
    body {
        font-size: 12.5px;
    }

    .headerLeadBlock {
        font-size: 2rem;
        line-height: 2.2rem;
        font-weight: 500;
    }

    .bl {
        width: 85%;
    }

    .modalWindow {
        width: 52%;
    }

    .comments,
    .textInsideAvailableSlots {
        width: 85%;
    }

}

/* @media (max-width: 480px) {
    body {
        max-width: 320;
        background-color: aqua;
    }

    html,
    body {
        font-size: 10px;
    }

    .photoContainer {
        max-width: 10rem;
        max-height: 10rem;
    }

    .modalWindow {
        width: 80%;
    }
} */

@media (max-width: 480px) {
    body {
        max-width: none;
    }

    .availableSlotsHeader::after,
    .forBigScreen {
        display: none;
    }

    .mainHelicoptersPictures {
        background-image: url(./images/helimain_2.png);
    }

    .headerBooking {
        font-size: 2rem;
        font-weight: 700;
    }

    .wordPrice {
        font-size: 1.1rem;
    }

    .cost,
    .circle {
        font-size: 1.9rem;
        font-weight: 800;
    }

    .textButton {
        font-size: 1rem;
        font-weight: 900;
    }

    .leadBlockRow_2 {
        width: 100%;
        height: 50vw;
        position: relative;
    }

    .t-14-500 {
        font-size: 1.8rem;
        text-align: center;
    }

    .informationAboutPhotographer {
        flex-direction: column;
        width: 119%;
    }

    .photoPhotographer {
        order: -1;
        margin-bottom: 2rem;
        width: 100%;
    }

    .textAboutPhotographer {
        width: 100%;
    }

    .line_2,
    .textInsideAvailableSlots {
        width: 100%;
        padding: 0rem;
    }

    .availableTimes {
        flex-direction: column;
    }

    .textInsideAvailableSlots .flexRow,
    .availableSlotsHeader,
    .availableTimes,
    .iconCups {
        margin-left: 1rem;
    }

    .buttonAvailableTimes {
        margin-bottom: 2rem;
    }

    .contentModalWindow .flexRow {
        flex-direction: column;
    }

    .container_60_percent,
    .container_40_percent {
        width: 100%;
    }

    .container_60_percent {
        border-right: 1px solid #C7C7C7;
    }

    .line {
        height: 1px;
        border: none;
        background-color: #B3B3B3;
    }
}




@media(min-width:481px) {

    .forSmallScreen {
        display: none;
    }
}